<div class="mt container-fluid border">
    <div class="row align-items-center">
        <div class="col-md-12 d-flex justify-content-center">
            <div class=" d-flex justify-content-center">
                <h2 class="font mt-2 text-light">CADASTRE-SE:</h2>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="font text-light col-md-12 d-flex justify-content-center">
            <div class="form-group">
                <label for="nome" class="mb-0">NOME</label>
                <input type="text" name="nome" id="nome" class="form-control" placeholder="Entre com seu nome">
                <label for="usuario" class="mb-0">USUÁRIO</label>
                <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Seu nome de usuário">
                <label for="linkfoto" class="mb-0">LINK DA FOTO</label>
                <input type="text" name="linkfoto" id="linkfoto" class="form-control" placeholder="Isnsira o link">
                <label for="senha" class="mb-0">SENHA</label>
                <input type="password" name="senha" id="senha" class="form-control" placeholder="Crie sua senha">
                <label for="confirmSenha" class="mb-0">CONFIRME A SENHA</label>
                <input type="password" name="confirmSenha" id="confirmSenha" class="form-control"
                    placeholder="Confirme sua senha">
                <label for="tipo" class="mb-0">TIPO DE USUARIO</label>
                <select class="form-control" name="tipo" id="tipo">
                    <option value="">Escolha...</option>
                    <option value="">Normal</option>
                    <option value="">Administrador</option>
                </select>
                <div class="mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger text-light mr-4" style="border-color: white;">
                        CANCELAR
                    </button>
                    <button type="submit" class="btn text-light" style="border-color: white;">
                        CADASTRAR
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>