/* You can add global styles to this file, and also import other style files */
.bg{
    background-image: linear-gradient(#9CC2D2, #0A3C52);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
