<div class="container mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="row border mt-5 mb-2 ">
                <div class="col-md-12 p-3">
                    <a id="botao" href="" data-toggle="modal" data-target="#novoPost">
                        <p class="font text-center">Postar <i class="fa fa-plus-circle" aria-hidden="true"></i></p>
                    </a>
                </div>
            </div>
            <div class="row border mt-3 mb-2 ">
                <div class="col-md-12 p-3">
                    <a id="botao" data-toggle="tab"
                    href="#nav-meusPosts" role="tab" aria-controls="nav-meusPosts" aria-selected="false" >
                        <p class="font text-center">Editar
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="row border mt-3 mb-2 ">
                <div class="col-md-12 p-3">
                    <a id="botao" href="" data-toggle="modal" data-target="#novoTema">
                        <p class="font text-center">Temas
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="row border mt-3 mb-5 ">
                <div class="col-md-12 p-3">
                    <a id="botao" [routerLink]="['/inicio', user.id]" data-toggle="modal" data-target="#editarPerfil">
                        <p class="font text-center">Perfil
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 nav-border mt-5">
            <nav>
                <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link font fs-20 " id="nav-Post-tab" data-toggle="tab"
                        href="#nav-Post" role="tab" aria-controls="nav-Post" aria-selected="false">Posts</a>
                    <a class="nav-item nav-link font fs-20 " id="nav-meusPosts-tab" data-toggle="tab"
                        href="#nav-meusPosts" role="tab" aria-controls="nav-meusPosts" aria-selected="false" 
                        >Meus Posts</a>
                    <a class="nav-item nav-link font fs-20 " id="nav-postTema-tab" data-toggle="tab"
                        href="#nav-postTema" role="tab" aria-controls="nav-postTema" aria-selected="false">Post por
                        Tema</a>
                    <a class="nav-item nav-link font fs-20 " id="nav-Temas-tab" data-toggle="tab" href="#nav-Temas"
                        role="tab" aria-controls="nav-Temas" aria-selected="false">Temas</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

                <!--POSTAGEM-->
                <div class="tab-pane fade" id="nav-Post" role="tabpanel" aria-labelledby="nav-Post-tab">
                       
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Usuário/Data</th>
                                <th scope="col">Texto/Tema</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let post of listPostagem'>
                                <td>
                                    <p>{{post.usuario.nome}}</p>
                                    <p><small small class="text-muted">{{post.data | date: 'dd/MM/yyyy'}}
                                        <br>{{post.data | date:'HH:mm'}}
                                    </small></p>
                                <th>
                                    <p><small small class="text-muted">{{post.tema.descricao}}</small></p>
                                    <P>{{post.texto}}</P>
                                </th>

                            </tr>

                        </tbody>
                    </table>
                </div>

                <!--MEUS POSTS-->
                <div class="tab-pane fade" id="nav-meusPosts" role="tabpanel" aria-labelledby="nav-meusPosts-tab">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Texto/Tema</th>
                                <th scope="col">Alterações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let post of user.postagem'>
                                <td>
                                    <p><small small class="text-muted">{{post.data | date: 'dd/MM/yyyy'}}
                                        <br>{{post.data | date:'HH:mm'}}
                                    </small></p>
                                <th>
                                    <p><small small class="text-muted">{{post.tema.descricao}}</small></p>
                                    <P>{{post.texto}}</P>
                                </th>
                                <td class="d-flex justify-content-around">
                                    <!--Editar-->
                                    <button class="btn btn-info" data-toggle="modal" data-target="#editarPost"
                                        [routerLink]="['/inicio', post.id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <!--Deletar-->
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deletePost"
                                        [routerLink]="['/inicio', post.id]">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>

                <!--POST POR TEMA-->
                <div class="tab-pane fade" id="nav-postTema" role="tabpanel" aria-labelledby="nav-postTema-tab">

                    <table class="table table-hover" *ngFor='let tema of listTema'>
                        <thead>
                            <tr>
                                <th scope="col">Usuário/Data</th>
                                <th scope="col">Texto/Tema</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let post of listPostagem'>
                                <td>
                                    <p>{{post.usuario.nome}}</p>
                                    <p><small small class="text-muted">{{post.data | date: 'dd/MM/yyyy'}}
                                        <br>{{post.data | date:'HH:mm'}}
                                    </small></p>
                                <th>
                                    <p><small small class="text-muted">{{post.tema.descricao}}</small></p>
                                    <P>{{post.texto}}</P>
                                </th>
                            </tr>

                        </tbody>
                    </table>

                </div>

                <!--TEMAS-->
                <div class="tab-pane fade" id="nav-Temas" role="tabpanel" aria-labelledby="nav-Temas-tab">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Alterações</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let tema of listTema'>
                                <th>{{tema.id}}</th>
                                <td>{{tema.descricao}}</td>
                                <td class="d-flex justify-content-around">
                                    <!--Editar-->
                                    <button class="btn btn-info" data-toggle="modal" data-target="#editarTema"
                                        [routerLink]="['/inicio', tema.id]">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                    <!--Deletar-->
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteTema"
                                        [routerLink]="['/inicio', tema.id]">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Novo Post-->
<div class="modal fade" id="novoPost" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Novo Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <label for="titulo">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Insira o título">

                    <label for="tema">Escolha o tema ou <a href="">cadastre um novo:</a></label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
                        (change)='findByIdTemaPost()'>
                        <option *ngFor='let item of listTema' value="{{item.id}}">
                            {{item.descricao}}</option>
                    </select>


                    <label for="descricao">Descrição</label>
                    <textarea [(ngModel)]='postagem.texto' name="descricao" rows="4" class="form-control" id="descricao"
                        placeholder="No que está pensando?"></textarea>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='publicar()'>Publicar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Post-->
<div class="modal fade" id="editarPost" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Editar Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <label for="titulo">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
                        placeholder="Insira o título">

                    <label for="tema">Escolha o tema ou <a href="">cadastre um novo:</a></label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
                        (change)='findByIdTemaPost()'>
                        <option *ngFor='let item of listTema' value="{{item.id}}">
                            {{item.descricao}}</option>
                    </select>


                    <label for="descricao">Descrição</label>
                    <textarea [(ngModel)]='postagem.texto' name="descricao" rows="4" class="form-control" id="descricao"
                        placeholder="No que está pensando?"></textarea>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='editarPost()'>Atualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Deletar Post-->
<div class="modal fade" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Deletar Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" [routerLink]="['/inicio']">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <h3>Tem certeza que quer deletar a postagem?</h3>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [routerLink]="['/inicio']">Não</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deletarPost()">Sim</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Novo Tema-->
<div class="modal fade" id="novoTema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Novo Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <label for="descricao">Descrição</label>
                    <textarea [(ngModel)]='tema.descricao' name="descricao" rows="4" class="form-control" id="descricao"
                        placeholder="Qual é o tema?"></textarea>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="cadastrarTema()">Publicar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Editar Tema-->
<div class="modal fade" id="editarTema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Editar Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" [routerLink]="['/inicio']">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <label for="descricao">Nova Descrição</label>
                    <input type="text" [(ngModel)]='tema.descricao' class="form-control" id="descricao">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [routerLink]="['/inicio']">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="atualizarTema()"
                    data-dismiss="modal">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Deletar Tema-->
<div class="modal fade" id="deleteTema" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Deletar Tema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" [routerLink]="['/inicio']">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">

                    <label for="descricao">Tema:</label>
                    <h3>{{tema.descricao}}</h3>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [routerLink]="['/inicio']">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deletarTema()">Deletar</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Editar Perfil-->
<div class="modal fade" id="editarPerfil" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Editar Perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" [routerLink]="['/inicio']">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="nome" class="mb-0">NOME</label>
          <input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome">
          <label for="usuario" class="mb-0">USUÁRIO</label>
          <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario">
          <label for="linkfoto" class="mb-0">LINK DA FOTO</label>
          <input [(ngModel)]='user.foto' class="form-control" type="text" name="linkfoto" id="linkfoto">
          <label for="senha" class="mb-0">SENHA</label>
          <input (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha">
          <label for="confirmSenha" class="mb-0">CONFIRME A SENHA</label>
          <input [(ngModel)]='user.senha' class="form-control" type="password" name="confirmSenha" id="confirmSenha">
          <label for="tipo" class="mb-0">TIPO DE USUARIO</label>
          <select class="form-control" name="tipo" id="tipo" (change)='tipoUsuario($event)'>
            <option value="">Escolha...</option>
            <option value="normal">Normal</option>
            <option value="adm">Administrador</option>
          </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          [routerLink]="['/inicio']">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="atualizar()">Confirmar</button>
      </div>
    </div>
  </div>
</div>